<h1>Toilets#new</h1>
<p>Find me in app/views/toilets/new.html.erb</p>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Please enter the toilet details</p>
        <div class="form-container">
          <%= simple_form_for @toilet do |f| %>
          <%= f.input :location_name %>
          <%= f.input :toilet_type %>
          <%= f.input :location_address %>
          <%= f.input :price %>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
