<div class="container">

  <div class="toilet-main-div ">


    <div class="toilet-name img-circle">
      <h1><%= @showtoilet.location_name %></h1>
    </div>


  </div>

  <div class="button-holder">
    <%= link_to "Go back", request.referer.present? ? request.referer : toilets_path, { class: "btn btn-primary btn-md" } %>
    <%= link_to "Find this loo", toilet_directions_path(params[:id]), { class: "btn btn-primary btn-md", search_value: @user_location } %>
  </div>

 <!--  <div class="button-holder-2">
    <button class="confirm-btn btn btn-primary btn-md">Go to the loo</button>
  </div> -->

  <div class="toilet-attr-div">

    <div class="toilet-address">
      <p><%= @showtoilet.location_address %></p>
    </div>
    <div class="toilet-price">
      <p>€ <%= @showtoilet.price %></p>
    </div>
    <div class="toilet-type">
      <p><%= @showtoilet.toilet_type %></p>
    </div>
    <div class="toilet-shittable">
      <p>
        <% if @showtoilet.shittable == true %>
          Shittable
        <% else %>
          Unshittable
        <% end %>
      </p>
    </div>

  </div>

</div>
